module {{ module_name }} exposing (..)

import Http
import Json.Decode
import Json.Decode.Pipeline

-- Typedefs

{% for type_def in typedefs.values() %}
type alias {{ type_def | alias_name }} = 
{% for property_def in type_def.properties.values() %}
    {% if loop.first %}{ {% else %}, {% endif %}{{ property_def | property_name }}: {{ property_def | elm_type }}
{% endfor %}
    }

{% endfor %}

-- Decoders

{% for type_def in typedefs.values() %}
{{ type_def | json_decoder }} : Json.Decode.Decoder {{ type_def | alias_name }}
{{ type_def | json_decoder }} = 
    Json.Decode.succeed {{ type_def | alias_name }}
{% for property_def in type_def.properties.values() %}
    {% if property_def.required %}
        |> Json.Decode.Pipeline.required "{{ property_def.name }}" {{ property_def.typedef | json_decoder }}
    {% else %}
        |> Json.Decode.Pipeline.optional "{{ property_def.name }}" (Json.Decode.nullable {{ property_def.typedef | json_decoder }}) Nothing
    {% endif %}
{% endfor %}

{% endfor %}

-- Remote calls
{% for endpoint in endpoints %}
{% if endpoint.method == 'get' %}
{{ endpoint.operation_id | camel_case }}Request : (Result Http.Error {{ endpoint.responses['200'].typedef | alias_name}} -> msg) -> Cmd msg
{{ endpoint.operation_id | camel_case }}Request toMsg =
    Http.get
      { url = "{{ endpoint.path }}"
      , expect = Http.expectJson toMsg {{ endpoint.responses['200'].typedef | json_decoder }} 
      }
{% endif %}

{% endfor %}
-- TODO: Handle POST, PUT, etc.
